body,ul,li,h1,h2,a{
    margin:0;
    padding:0;
    font-family: arial;
}

.banner{
    position: relative;
}
.banner img{
    max-width: 100%;

}
.banner .welcome{
    position:absolute;
    background-color: orange;
    color: white;
    padding:20px;
    left:0px;
    bottom: 0.9%;

}
.banner h2{
    font-size: 30px;
}
.banner span{
    font-size:2em; 
    font-family:cursive;
    
}
header{
    position:fixed;
    z-index: 1;
    width: 100%;
    background-color:rgb(102, 91, 122);
    padding:0.5px;
    text-align: center;
    border: 2px solid grey ;
    color:wheat;
    top:0;
    left:0;
    font-size: 15px;
}
header h1{
    border:2px solid yellow;
    padding :6px 12px;
    display:inline-block;
    border-radius: 35px;
}
.main-nav{
    background-color: #b9a6a6;
    padding:20px;
    position:sticky;
    top:55px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width:25%;
    display: inline-block;
    font-size: 24px; 
 }
nav li a{
    text-decoration: none;
    color:#4b4b4b;

}
nav li a.joinn{
    color:rgb(52, 48, 61);
    
    
}
nav li a.news{
    color:rgb(52, 48, 61);

    
}
nav li a.games{
    color:rgb(52, 48, 61);

    
}
nav li a.contact{
    color:rgb(52, 48, 61);
    
}
main{
    max-width: 100%;
    width:1200px; 
    margin:80px auto;
    padding:0 40px;
    box-sizing: border-box;
}
article h2{
    color: #f63232;
    font-size: 48px;
}
article p{
    line-height: 2em;
    color:#4b4b4b
}
ul.images{
    text-align: center;
    margin:80px 0;
    white-space: nowrap;

}
.images li{
    display:inline-block;
    width:40%;
    margin:20px 5%;
}
.images li img{
    max-width: 100%;
}
.join{
    background: #f4f4f4;
    text-align: center;
    padding: 60px 20px;
    color: #4b4b4b;
}
.join h2{
    font-size: 36px;
    
}
form input{
    margin: 20px 0;
    padding:10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border:4px solid white;
}
footer{
    background: #f63232;
    color: white;
    padding:10px;
    text-align: center;
}
/* pseudo classes*/
nav li a:hover{
    text-decoration: underline;
    background-color: rgb(8, 139, 134);
}
.images li:hover{
    position:relative;
    top:-5px;
}
form input.submit:hover{
position: relative;
top:-4px;
}
form input:focus{
    border:4px dashed #4b4b4b;
    outline:none;
}
form input:valid{
    border:4px solid #71d300;
}
article p::first-line{
    font-weight: bold;
    font-size: 1.2em;
}
article p::first-letter{
    font-size: 2.5em;
    font-family: cursive;
}
p::selection{
    background-color: #8d8787;
}
@media screen and (max-width:900px)
{
    .banner .welcome h2{
  font-size:30px;       
}
nav li{
    font-size: 18px;
}
}
@media screen and (max-width:960px)
{
    .banner .welcome h2{
  font-size:25px;       
}
}
@media screen and (max-width:850px)
{
    .banner .welcome {

        position:relative;
        text-align: center;
        padding:10px;
}

@media screen and (max-width:960px)
{
    .banner .welcome br{
        display: none;
    }
    .banner .welcome h2{
        font-size:25px;       
      }
      .banner .welcome span{
        font-size: 1em;
      }
      .images li{
        width:100%;
        margin:20px auto;
        display:block;
      }
}
}
@media screen and (max-width: 600px) {
   .main-nav ul li {
        font-size: 20px;
        display: block ;
        width: 100%;
        margin: 12px 0;
    }
    header {
        position: relative;
    }
    nav {
        top: 0;
    }
}
